@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Montserrat:wght@500;700&display=swap");

:root {
  --black: #0f0f0f;
  --dark-gray: #1c1c1c;
  --gold: #d4af37;
  --off-white: #f5f5f5;
  --muted-gray: #a1a1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--off-white);
  font-family: "Inter", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
  background: var(--dark-gray);
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--gold);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  cursor: pointer;
  color: var(--off-white);
}

.nav-links a {
  text-decoration: none;
  color: var(--off-white);
}

.nav-links a:hover {
  color: var(--gold);
}

/* Banner */
.banner {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.banner h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  color: var(--gold);
}

/* Profile */

.profile {
  margin-top: 80px;
  text-align: center;
  padding-bottom: 3rem;
}

.profile-image-wrapper {
  width: 160px;
  height: 160px;
  margin: 0 auto 1.25rem;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--gold);
  background: var(--dark-gray);
}

.profile-image-wrapper img {
  position:relative;
  width: 115%;
  height: 180%;
  object-fit: cover;
  object-position: center;
}

.profile h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--gold);
  font-size: 1.5rem;
  margin-bottom:0.5rem;
}

.profile p {
  color: var(--muted-gray);
  font-size: 0.95rem;
}

/* Services */
.services {
  padding: 4rem 2rem;
  max-width: 1100px;
  margin: auto;
}

.services h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--gold);
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.service-card {
  background: var(--dark-gray);
  padding: 1.5rem;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.price {
  color: var(--gold);
  font-weight: 600;
  margin-top: 0.5rem;
}

/* Button */
.booking-btn {
  display: block;
  margin: 3rem auto 0;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  background: var(--gold);
  color: var(--black);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.booking-btn:hover{
  opacity: 0.9;
  transform: translateY(-2);
}

/* Footer */
.footer {
  background: var(--dark-gray);
  padding: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.footer-logo {
  font-family: "Montserrat", sans-serif;
  color: var(--gold);
}
